*{margin: 0
  padding: 0;
  box-sizing: border-box;
  }

/*@keyframes rotar{
  0% {transform: rotate(0deg)}
  50% {transform: rotate(360deg)}
  100% {transform: rotate(0deg)}
}*/

.cog1{
  color: black;
  font-size: 10rem;
  right: 50px;
  position: relative;
  top: 0px;
  left: 70px;
}

.cog2{
  font-size: 4.5rem;
  color: black;
  right: 50px;
  position: relative;
  top: 0px;
  left: 230px;

}

.cog3{
  color: black;
  font-size: 2.5rem;
}

.cog4{
  color: black;
  font-size: 8rem;
}

.cog5{
  color: black;
  font-size: 2.5rem;

}
/*
.cog {
  animation-name: rotar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;}*/
